.folio_title{
color: #555555;
font-family: 'Titillium Maps',Arial;
font-size: 14pt;
}
.myfolio{
padding-bottom: 20px;
float: left;
padding-right: 20px;
}
.folio_element{
width: 150px;
padding-top: 2px;
}